.BackgroundVideo-section {
  position:static;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
.BackgroundVideo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.BackgroundVideo video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.BackgroundVideo--video {
  transition: all 0.2s ease;
}
.BackgroundVideo--video.playing {
  opacity: 1;
}
